/************************
ProgressIndicator
*************************/
.progressIndicatorContainer {
  width: 100%;
  height: 3px;
}

.progressIndicatorBar {
  width: 100%;
  height: 100%;
  background-color: #e5e5e5;
}

.progressIndicatorBarCompleteness {
  background-color: #ababab;
  height: 100%;
  transition: 0.4s linear;
  transition-property: width;
}
